<h1>Audience Demo</h1>
<div class="row">
  <div class="col">
    <div id="videoRoot"></div>
  </div>
</div>

<div class="row mt-1">
  <div class="col" id="toolbar">
    <button type="button" onclick="hangup()" class="btn btn-danger">Hang up</button>
    <button type="button" onclick="requestPromotion()" class="btn btn-success">Request promotion</button>
  </div>
</div>

<script type="application/javascript" src="/common.js"></script>
<script type="application/javascript" src="/audience.js"></script>
