<div class="row">
  <div class="col">
    <div id="videoRoot"></div>
  </div>
</div>

<div class="row">
  <div class="col">
    <button type="button" onclick="hangup()" class="btn btn-danger">Hang up</button>
    <button type="button" onclick="playVideo()" class="btn btn-success">Play ad!</button>
    <a href="/audience" target="_blank" class="btn btn-primary">Open audience window</a>
  </div>
</div>

<script type="application/javascript" src="/index.js"></script>