<div class="row">
  <div class="col">
    <div id="videoRoot"></div>
  </div>
</div>

<div class="row mt-1">
  <div class="col" id="toolbar">
    <button type="button" onclick="hangup()" class="btn btn-danger">Hang up</button>
    <button type="button" onclick="playVideo()" class="btn btn-success">Play ad!</button>
    <a href="/audience" target="_blank" class="btn btn-primary">Open audience window</a>
    <button type="button" id="startRec" onclick="toggleRec()" class="btn btn-info">Start recording</button>
    <button type="button" id="stopRec" onclick="toggleRec()" class="btn btn-info">Stop recording</button>
    <h3>Audience count: <span id="audienceCount">0</span></h3>
  </div>
</div>

<script type="application/javascript" src="/common.js"></script>
<script type="application/javascript" src="/index.js"></script>